<section class="orders light-section">
    <div class="contailner mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4 w-10/12 px-4 py-3 mx-auto">All Orders</h1>
        <br>
        
        <!-- component -->
<table class="border-collapse mx-auto my-5 bg-white w-11/12">
    <thead>
        <tr>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Orders</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Customer</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Address</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Status</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Placed at</th>
        </tr>
    </thead>
    <tbody id="orderTableBody">
    </tbody>
</table>
    </div>
</section>