@import './variables';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
    &:after{
        background: $primary-hover;
        display: none;
    }
}

nav li a{
    transition: $smooth;
    font-weight: 900;
    font-size: 20px;
    &:hover{
        color: $temp;
    }
}

nav ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: $temp;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
nav ul li a:hover:after { 
    width: 100%; 
    left: 23%; 
}
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color:$primary;
    border-radius: 50px;
    box-shadow:inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px 2px 4px rgba(255,255,255,0.1),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    transition: all .4s ease-in-out;
    &:hover{
        background:$primary;
        box-shadow: -2px -2px 8px rgb(236, 236, 236),
        -2px -2px 12px rgba(255,255,255,0.5),
        inset 2px 2px 4px rgba(255,255,255,0.1),
        2px 2px 8px rgba(0,0,0,0.15);
        color:$pure;
    }
}

.temp{
    background: #f0f0f0;
}

.single-product
{
    box-shadow: inset -2px -2px 8px white,
    inset -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px 2px 4px rgba(255,255,255,0.1),
    inset 2px 2px 8px rgba(0,0,0,0.15);
    border-radius: 12px;
    &:hover{
        box-shadow:-2px -2px 8px white,
          -2px -2px 12px rgba(255,255,255,0.5),
    inset 2px 2px 4px rgba(255,255,255,0.1),
          2px 2px 8px rgba(0,0,0,0.15);
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}